.main {
  background: #061733 0.26;
  width: 100%;
  height: 80%;
}
.body {
  width: 98%;
  height: 87%;
  padding: 17px;
  margin: -140px 0 0 12px;
  box-shadow: inset 0px 1px 20px 0px rgba(1, 112, 198, 0.26);
}
.back {
  width: 33px;
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 22px;
  float: left;
}
.rectangle {
  width: 2px;
  height: 19px;
  margin-top: 35px;
  background: #22D7E3;
  display: inline-block;
  margin-left: -40px;
  float: left;
}
.headNav {
  width: 271px;
  height: 25px;
  margin-left: -45px;
  margin-top: 38px;
  font-size: 15px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 10px;
  text-shadow: 0px 1px 7px rgba(20, 110, 255, 0.83);
  float: left;
}
.divider {
  width: 100%;
  height: 1px;
  border: 1px solid rgba(37, 90, 166, 0.25);
  margin-top: 70px;
}
.content {
  margin-top: 10px;
}
.content .itemName {
  width: 93px;
  height: 25px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  float: left;
  line-height: 30px;
}
 /deep/ .ant-input {
  border-radius: 2px;
  border: 1px solid #60B3FF;
  background: rgba(96, 179, 255, 0.2);
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  line-height: 22px;
  height: 30px;
  float: left;
}
 /deep/ .ant-select-selection {
  border-radius: 2px;
  border: 1px solid #60B3FF;
  background: rgba(96, 179, 255, 0.2);
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 22px;
}
 /deep/ .ant-btn-primary {
  height: 28px;
  border-radius: 2px;
  border: 1px solid #60B3FF;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #60B3FF;
  line-height: 20px;
  background: #061733;
  float: left;
  margin-left: 20px;
}
.resetButton {
  height: 28px;
  border-radius: 2px;
  border: 1px solid #60B3FF;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 20px;
  background: #061733;
  float: left;
  margin-left: 20px;
}
.resetButton span {
  margin-left: 20px;
}
.newAdd {
  float: left;
  margin-left: 5px;
  width: 40px;
  height: 22px;
  font-size: 13px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #60B3FF;
  line-height: 20px;
}
