.main {
  background: #061733 0.26;
  width: 100%;
  height: 80%;
}
.body {
  width: 98%;
  height: 87%;
  padding: 17px;
  margin: -140px 0 0 12px;
  box-shadow: inset 0px 1px 20px 0px rgba(1, 112, 198, 0.26);
}
.back {
  width: 33px;
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 22px;
  float: left;
}
.rectangle {
  width: 2px;
  height: 19px;
  margin-top: 35px;
  background: #22D7E3;
  display: inline-block;
  margin-left: -40px;
  float: left;
}
.headNav {
  height: 25px;
  margin-left: -30px;
  margin-top: 38px;
  font-size: 15px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 10px;
  text-shadow: 0px 1px 7px rgba(20, 110, 255, 0.83);
  float: left;
}
.divider {
  width: 100%;
  height: 1px;
  border: 1px solid rgba(37, 90, 166, 0.25);
  margin-top: 70px;
}
.content {
  margin-top: 10px;
}
.content .itemName {
  width: 93px;
  height: 25px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  float: left;
  line-height: 30px;
}
 /deep/ .ant-input {
  border-radius: 2px;
  border: 1px solid #60B3FF;
  background: rgba(96, 179, 255, 0.2);
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  line-height: 22px;
  height: 30px;
  float: left;
}
 /deep/ .ant-select-selection {
  border-radius: 2px;
  border: 1px solid #60B3FF;
  background: rgba(96, 179, 255, 0.2);
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 22px;
}
 /deep/ .ant-btn-primary {
  height: 28px;
  border-radius: 2px;
  border: 1px solid #60B3FF;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #60B3FF;
  line-height: 20px;
  background: #061733;
  float: left;
  margin-left: 20px;
}
.resetButton {
  height: 28px;
  border-radius: 2px;
  border: 1px solid #60B3FF;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 20px;
  background: #5184b4;
  float: left;
  margin-left: 10px;
}
.resetButton span {
  margin-left: 20px;
}
.newAdd {
  float: left;
  margin-left: 5px;
  width: 40px;
  margin-bottom: 10px;
  height: 22px;
  font-size: 13px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #60B3FF;
  line-height: 20px;
}
 /deep/ .ant-table-header {
  background: rgba(96, 179, 255, 0.1);
  box-shadow: inset 0px 0px 10px 0px rgba(96, 179, 255, 0.7);
  border: 1px solid #60B3FF;
}
 /deep/ .ant-table-thead > tr > th {
  background: rgba(0, 0, 0, 0);
  font-size: 13px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 7px;
  border-bottom: 0px;
}
 /deep/ .ant-table-tbody > tr > td {
  border-bottom: 0px;
}
 /deep/ .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body {
  position: relative;
  background: rgba(96, 179, 255, 0);
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 10px;
  letter-spacing: 1px;
}
 /deep/ .ant-table-fixed-header .ant-table-scroll .ant-table-header {
  margin-bottom: 1px !important;
  padding-bottom: 0px !important;
  overflow: hidden !important;
  opacity: 0.9999;
}
 /deep/ .ant-table-row {
  box-shadow: inset 0px 0px 4px 0px rgba(96, 179, 255, 0.7);
}
 /deep/ .ant-table-body > .ant-table-fixed {
  border-collapse: separate;
  border-spacing: 0 8px;
}
 /deep/ .ant-table-body {
  overflow: hidden !important;
}
 /deep/ .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td,
 /deep/ .ant-table-tbody .ant-table-row-hover,
 /deep/ .ant-table-tbody .ant-table-row-hover > td {
  background: none !important;
}
 /deep/ .ant-pagination-item {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 4px 0px rgba(49, 150, 244, 0.9);
  border: 0px;
  color: #FFFFFF;
}
 /deep/ .ant-pagination-item-link {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  border: 0px;
  box-shadow: inset 0px 0px 4px 0px rgba(68, 163, 252, 0.9);
}
 /deep/ .ant-calendar-picker {
  float: left;
}
 /deep/ .ant-pagination-item a {
  color: #FFFFFF;
}
 /deep/ .ant-pagination-item-active {
  background: #60B3FF;
}
 /deep/ .ant-pagination-item-ellipsis {
  color: #FFFFFF !important;
  border: 0px;
  box-shadow: inset 0px 0px 4px 0px rgba(68, 163, 252, 0.9);
}
 /deep/ .ant-calendar-picker-icon {
  color: white;
}
 /deep/ .ant-modal-header {
  height: 44px;
  background: linear-gradient(90deg, #235EA4 0%, #042A5A 100%);
  border-bottom: 0px solid #e8e8e8;
}
 /deep/ .ant-modal-close-x {
  display: block;
  width: 56px;
  height: 50px;
  font-size: 18px;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  color: white;
}
 /deep/ .ant-modal-content {
  position: relative;
  background: rgba(3, 30, 66, 0.8);
  background-clip: padding-box;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  pointer-events: auto;
}
 /deep/ .ant-modal-body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}
 /deep/ .ant-modal-footer {
  text-align: left;
  border-top: 0px solid #e8e8e8;
}
 /deep/ .ant-modal-close {
  margin-right: 5px;
}
 /deep/ .ant-modal-title {
  width: 116px;
  height: 20px;
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 18px;
  text-shadow: 0px 1px 7px rgba(20, 110, 255, 0.83);
}
.triangle {
  width: 29px;
  height: 29px;
  background: linear-gradient(45deg, rgba(34, 215, 227, 0) 50%, #22D7E3 100%);
}
.rectangleModal {
  width: 3px;
  height: 21px;
  background: #22D7E3;
}
 /deep/ .ant-btn {
  background: rgba(3, 30, 66, 0.8);
  border-radius: 2px;
  border: 1px solid #60B3FF;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #60B3FF;
  line-height: 20px;
}
 /deep/ .ant-btn-primary {
  background: #60B3FF;
  border-radius: 2px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 20px;
}
#tipsOk {
  margin-right: 90px;
  height: 30px;
  float: right;
}
#tipscancle {
  margin-left: 100px;
  margin-bottom: 10px;
  height: 30px;
}
