.login {
  background: url(../../image/loginBackgroundColor.jpg) no-repeat;
  margin: 0px;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.loginInfo {
  position: absolute;
  top: 15vh;
  left: 35vw;
  background: url(../../image/divBackgroud.svg) no-repeat;
  width: 494px;
  height: 470px;
}
.imgIcon {
  position: absolute;
  top: 5vh;
  left: 35vw;
}
.nameSpan {
  width: 304px;
  height: 53px;
  position: absolute;
  top: 5vh;
  left: 41vw;
  font-size: 30px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 53px;
  text-shadow: 0px 3px 4px #005FFF;
}
.loginForm {
  margin-top: 10px;
  width: 350px;
  margin-left: 40px;
}
.loginForm .checkbox {
  float: left;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
}
.loginTab {
  width: 108px;
  height: 25px;
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #00BEFF;
  line-height: 25px;
  float: left;
  margin-left: 40px;
  margin-top: 50px;
}
.underline {
  width: 66px;
  height: 3px;
  background: #00BEFF;
  border-radius: 2px;
  margin-left: 55px;
  margin-top: 80px;
}
 /deep/ .ant-checkbox-input {
  background: rgba(101, 225, 255, 0.2);
  border-radius: 1px;
  border: 1px solid #65E1FF;
}
 /deep/ .ant-input {
  background: rgba(101, 225, 255, 0.2);
  border-radius: 2px;
  border: 1px solid #65E1FF;
  height: 46px;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
}
 /deep/ .ant-input-affix-wrapper .ant-input-prefix {
  left: 14px;
}
 /deep/ .ant-checkbox-inner {
  width: 15px;
  height: 15px;
  background: rgba(101, 225, 255, 0.2);
  border-radius: 1px;
  border: 1px solid #65E1FF;
}
 /deep/ .ant-checkbox-wrapper {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
  float: left;
}
 /deep/ .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 45px;
}
.foot {
  margin-top: 250px;
  float: left;
  margin-left: 85px;
}
.foot span {
  width: 28px;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 20px;
}
.foot .copyright {
  width: 290px;
  height: 20px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 20px;
  margin-top: 10px;
}
