.map {
  width: 833px;
  height: 480px;
  box-shadow: inset 0px 1px 20px 0px rgba(1, 112, 198, 0.26);
}
.mapCircleOut {
  width: 15px;
  height: 15px;
  border: 2px solid #22D7E3;
  border-radius: 100%;
  padding: 2px;
  margin-left: 5px;
}
.mapCircleInner {
  width: 6px;
  height: 6px;
  background: #22D7E3;
  border-radius: 100%;
  margin-left: 0.5px;
}
.placeName {
  width: 28px;
  height: 20px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
}
